In [14]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)
        
def calculation_Q10(conn):
    cur = conn.cursor()
    query2 = """
    SELECT name, SUM(cost) AS revenue
    FROM
    (SELECT f.name,memid,b.facid,IIF(memid = 0, guestcost*slots, membercost*slots) AS cost
    FROM `Bookings` AS b
    LEFT JOIN `Facilities` AS f
    USING (facid)) AS subquery
    GROUP BY facid
    HAVING SUM(cost) > 1000
    ORDER BY revenue DESC;
    """
    cur.execute(query2)
    rows = cur.fetchall()
    for row in rows:
        print(row)
        
def calculation_Q11(conn):
    cur = conn.cursor()
    query3 = """
            SELECT surname, firstname, recommendedby FROM `Members`
            WHERE memid !=0
            ORDER BY surname,firstname;
            """
    cur.execute(query3)
    rows = cur.fetchall()
    for row in rows:
        print(row)
        
def calculation_Q12(conn):
    cur = conn.cursor()
    query3 = """
            SELECT COUNT(bookid) AS booking_frequency, name, firstname || surname AS fullname
            FROM `Members`
            INNER JOIN `Bookings`
            USING (memid)
            INNER JOIN `Facilities`
            USING (facid)
            GROUP BY fullname,facid;
            """
    cur.execute(query3)
    rows = cur.fetchall()
    for row in rows:
        print(row)
        
def calculation_Q13(conn):
    cur = conn.cursor()
    query3 = """
    SELECT month,COUNT(bookid) AS frequency, name
    FROM(
    SELECT strftime('%m', starttime) AS month ,name, bookid
    FROM Bookings 
    LEFT JOIN Facilities
    USING(facid)
    WHERE memid != 0) AS subquery
    GROUP BY month, name;
    """
    cur.execute(query3)
    rows = cur.fetchall()
    for row in rows:
        print(row)
        
        

def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
        print("Answer to Q10")
        calculation_Q10(conn)
        print("Answer to Q11")
        calculation_Q11(conn)
        print("Answer to Q12")
        calculation_Q12(conn)
        print("Answer to Q13")
        calculation_Q13(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)
Answer to Q10
('Massage Room 1', 50351.600000000275)
('Massage Room 2', 14454.599999999995)
('Tennis Court 2', 14310)
('Tennis Court 1', 13860)
('Squash Court', 13468.0)
('Badminton Court', 1906.5)
Answer to Q11
('Bader', 'Florence', '9')
('Baker', 'Anne', '9')
('Baker', 'Timothy', '13')
('Boothe', 'Tim', '3')
('Butters', 'Gerald', '1')
('Coplin', 'Joan', '16')
('Crumpet', 'Erica', '2')
('Dare', 'Nancy', '4')
('Farrell', 'David', '')
('Farrell', 'Jemima', '')
('Genting', 'Matthew', '5')
('Hunt', 'John', '30')
('Jones', 'David', '4')
('Jones', 'Douglas', '11')
('Joplette', 'Janice', '1')
('Mackenzie', 'Anna', '1')
('Owen', 'Charles', '1')
('Pinker', 'David', '13')
('Purview', 'Millicent', '2')
('Rownam', 'Tim', '')
('Rumney', 'Henrietta', '20')
('Sarwin', 'Ramnaresh', '15')
('Smith', 'Darren', '')
('Smith', 'Darren', '')
('Smith', 'Jack', '1')
('Smith', 'Tracy', '')
('Stibbons', 'Ponder', '6')
('Tracy', 'Burton', '')
('Tupperware', 'Hyacinth', '')
('Worthington-Smyth', 'Henry', '2')
Answer to Q12
(30, 'Badminton Court', 'AnnaMackenzie')
(16, 'Table Tennis', 'AnnaMackenzie')
(1, 'Massage Room 1', 'AnnaMackenzie')
(2, 'Squash Court', 'AnnaMackenzie')
(7, 'Snooker Table', 'AnnaMackenzie')
(70, 'Pool Table', 'AnnaMackenzie')
(6, 'Tennis Court 1', 'AnneBaker')
(35, 'Tennis Court 2', 'AnneBaker')
(10, 'Badminton Court', 'AnneBaker')
(1, 'Table Tennis', 'AnneBaker')
(3, 'Massage Room 1', 'AnneBaker')
(2, 'Massage Room 2', 'AnneBaker')
(49, 'Squash Court', 'AnneBaker')
(12, 'Pool Table', 'AnneBaker')
(31, 'Tennis Court 1', 'BurtonTracy')
(3, 'Tennis Court 2', 'BurtonTracy')
(2, 'Badminton Court', 'BurtonTracy')
(24, 'Table Tennis', 'BurtonTracy')
(31, 'Massage Room 1', 'BurtonTracy')
(35, 'Squash Court', 'BurtonTracy')
(20, 'Snooker Table', 'BurtonTracy')
(30, 'Pool Table', 'BurtonTracy')
(17, 'Tennis Court 1', 'CharlesOwen')
(41, 'Tennis Court 2', 'CharlesOwen')
(6, 'Badminton Court', 'CharlesOwen')
(24, 'Table Tennis', 'CharlesOwen')
(11, 'Massage Room 1', 'CharlesOwen')
(2, 'Massage Room 2', 'CharlesOwen')
(7, 'Squash Court', 'CharlesOwen')
(22, 'Snooker Table', 'CharlesOwen')
(1, 'Pool Table', 'CharlesOwen')
(19, 'Tennis Court 2', 'DarrenSmith')
(132, 'Badminton Court', 'DarrenSmith')
(28, 'Table Tennis', 'DarrenSmith')
(28, 'Massage Room 1', 'DarrenSmith')
(14, 'Squash Court', 'DarrenSmith')
(12, 'Snooker Table', 'DarrenSmith')
(28, 'Pool Table', 'DarrenSmith')
(6, 'Tennis Court 1', 'DavidFarrell')
(1, 'Tennis Court 2', 'DavidFarrell')
(1, 'Squash Court', 'DavidFarrell')
(1, 'Snooker Table', 'DavidFarrell')
(25, 'Pool Table', 'DavidFarrell')
(25, 'Tennis Court 1', 'DavidJones')
(30, 'Tennis Court 2', 'DavidJones')
(8, 'Badminton Court', 'DavidJones')
(11, 'Table Tennis', 'DavidJones')
(19, 'Massage Room 1', 'DavidJones')
(4, 'Massage Room 2', 'DavidJones')
(8, 'Squash Court', 'DavidJones')
(2, 'Snooker Table', 'DavidJones')
(8, 'Pool Table', 'DavidJones')
(16, 'Tennis Court 1', 'DavidPinker')
(7, 'Badminton Court', 'DavidPinker')
(17, 'Table Tennis', 'DavidPinker')
(3, 'Massage Room 1', 'DavidPinker')
(3, 'Squash Court', 'DavidPinker')
(16, 'Snooker Table', 'DavidPinker')
(9, 'Pool Table', 'DavidPinker')
(9, 'Tennis Court 1', 'DouglasJones')
(2, 'Badminton Court', 'DouglasJones')
(1, 'Squash Court', 'DouglasJones')
(2, 'Pool Table', 'DouglasJones')
(1, 'Tennis Court 1', 'EricaCrumpet')
(2, 'Badminton Court', 'EricaCrumpet')
(2, 'Table Tennis', 'EricaCrumpet')
(2, 'Massage Room 1', 'EricaCrumpet')
(1, 'Tennis Court 1', 'FlorenceBader')
(8, 'Tennis Court 2', 'FlorenceBader')
(9, 'Badminton Court', 'FlorenceBader')
(42, 'Table Tennis', 'FlorenceBader')
(2, 'Massage Room 2', 'FlorenceBader')
(2, 'Squash Court', 'FlorenceBader')
(33, 'Snooker Table', 'FlorenceBader')
(23, 'Pool Table', 'FlorenceBader')
(100, 'Tennis Court 1', 'GUESTGUEST')
(113, 'Tennis Court 2', 'GUESTGUEST')
(39, 'Badminton Court', 'GUESTGUEST')
(18, 'Table Tennis', 'GUESTGUEST')
(208, 'Massage Room 1', 'GUESTGUEST')
(84, 'Massage Room 2', 'GUESTGUEST')
(245, 'Squash Court', 'GUESTGUEST')
(23, 'Snooker Table', 'GUESTGUEST')
(53, 'Pool Table', 'GUESTGUEST')
(57, 'Tennis Court 1', 'GeraldButters')
(3, 'Tennis Court 2', 'GeraldButters')
(20, 'Badminton Court', 'GeraldButters')
(1, 'Table Tennis', 'GeraldButters')
(32, 'Massage Room 1', 'GeraldButters')
(1, 'Massage Room 2', 'GeraldButters')
(9, 'Squash Court', 'GeraldButters')
(34, 'Snooker Table', 'GeraldButters')
(6, 'Pool Table', 'GeraldButters')
(1, 'Tennis Court 2', 'HenriettaRumney')
(2, 'Squash Court', 'HenriettaRumney')
(14, 'Snooker Table', 'HenriettaRumney')
(3, 'Pool Table', 'HenriettaRumney')
(4, 'Badminton Court', 'HenryWorthington-Smyth')
(3, 'Table Tennis', 'HenryWorthington-Smyth')
(1, 'Massage Room 1', 'HenryWorthington-Smyth')
(33, 'Pool Table', 'HenryWorthington-Smyth')
(1, 'Badminton Court', 'HyacinthTupperware')
(1, 'Massage Room 1', 'HyacinthTupperware')
(1, 'Squash Court', 'HyacinthTupperware')
(5, 'Snooker Table', 'HyacinthTupperware')
(8, 'Pool Table', 'HyacinthTupperware')
(22, 'Tennis Court 1', 'JackSmith')
(1, 'Tennis Court 2', 'JackSmith')
(12, 'Badminton Court', 'JackSmith')
(5, 'Table Tennis', 'JackSmith')
(27, 'Massage Room 1', 'JackSmith')
(1, 'Massage Room 2', 'JackSmith')
(9, 'Squash Court', 'JackSmith')
(5, 'Snooker Table', 'JackSmith')
(7, 'Pool Table', 'JackSmith')
(19, 'Tennis Court 1', 'JaniceJoplette')
(8, 'Tennis Court 2', 'JaniceJoplette')
(9, 'Table Tennis', 'JaniceJoplette')
(12, 'Massage Room 1', 'JaniceJoplette')
(2, 'Massage Room 2', 'JaniceJoplette')
(14, 'Squash Court', 'JaniceJoplette')
(68, 'Snooker Table', 'JaniceJoplette')
(27, 'Pool Table', 'JaniceJoplette')
(1, 'Tennis Court 1', 'JemimaFarrell')
(1, 'Tennis Court 2', 'JemimaFarrell')
(7, 'Badminton Court', 'JemimaFarrell')
(12, 'Table Tennis', 'JemimaFarrell')
(29, 'Massage Room 1', 'JemimaFarrell')
(8, 'Squash Court', 'JemimaFarrell')
(21, 'Snooker Table', 'JemimaFarrell')
(1, 'Pool Table', 'JemimaFarrell')
(7, 'Tennis Court 1', 'JoanCoplin')
(21, 'Table Tennis', 'JoanCoplin')
(1, 'Massage Room 1', 'JoanCoplin')
(2, 'Massage Room 2', 'JoanCoplin')
(1, 'Squash Court', 'JoanCoplin')
(10, 'Snooker Table', 'JoanCoplin')
(11, 'Pool Table', 'JoanCoplin')
(4, 'Tennis Court 1', 'JohnHunt')
(4, 'Tennis Court 2', 'JohnHunt')
(2, 'Badminton Court', 'JohnHunt')
(1, 'Table Tennis', 'JohnHunt')
(3, 'Massage Room 1', 'JohnHunt')
(1, 'Squash Court', 'JohnHunt')
(1, 'Tennis Court 1', 'MatthewGenting')
(26, 'Table Tennis', 'MatthewGenting')
(25, 'Massage Room 1', 'MatthewGenting')
(1, 'Massage Room 2', 'MatthewGenting')
(1, 'Snooker Table', 'MatthewGenting')
(18, 'Pool Table', 'MatthewGenting')
(1, 'Tennis Court 2', 'MillicentPurview')
(2, 'Badminton Court', 'MillicentPurview')
(6, 'Table Tennis', 'MillicentPurview')
(1, 'Squash Court', 'MillicentPurview')
(1, 'Snooker Table', 'MillicentPurview')
(5, 'Pool Table', 'MillicentPurview')
(25, 'Tennis Court 1', 'NancyDare')
(11, 'Tennis Court 2', 'NancyDare')
(10, 'Badminton Court', 'NancyDare')
(5, 'Table Tennis', 'NancyDare')
(19, 'Massage Room 1', 'NancyDare')
(5, 'Massage Room 2', 'NancyDare')
(23, 'Snooker Table', 'NancyDare')
(19, 'Pool Table', 'NancyDare')
(1, 'Tennis Court 1', 'PonderStibbons')
(31, 'Tennis Court 2', 'PonderStibbons')
(16, 'Badminton Court', 'PonderStibbons')
(3, 'Table Tennis', 'PonderStibbons')
(19, 'Massage Room 1', 'PonderStibbons')
(2, 'Squash Court', 'PonderStibbons')
(20, 'Snooker Table', 'PonderStibbons')
(12, 'Pool Table', 'PonderStibbons')
(5, 'Tennis Court 1', 'RamnareshSarwin')
(11, 'Tennis Court 2', 'RamnareshSarwin')
(7, 'Badminton Court', 'RamnareshSarwin')
(3, 'Table Tennis', 'RamnareshSarwin')
(8, 'Massage Room 1', 'RamnareshSarwin')
(3, 'Massage Room 2', 'RamnareshSarwin')
(2, 'Squash Court', 'RamnareshSarwin')
(18, 'Snooker Table', 'RamnareshSarwin')
(13, 'Pool Table', 'RamnareshSarwin')
(4, 'Tennis Court 1', 'TimBoothe')
(52, 'Tennis Court 2', 'TimBoothe')
(12, 'Badminton Court', 'TimBoothe')
(4, 'Table Tennis', 'TimBoothe')
(36, 'Massage Room 1', 'TimBoothe')
(12, 'Squash Court', 'TimBoothe')
(43, 'Snooker Table', 'TimBoothe')
(25, 'Pool Table', 'TimBoothe')
(6, 'Tennis Court 1', 'TimRownam')
(6, 'Tennis Court 2', 'TimRownam')
(4, 'Badminton Court', 'TimRownam')
(69, 'Table Tennis', 'TimRownam')
(80, 'Massage Room 1', 'TimRownam')
(2, 'Massage Room 2', 'TimRownam')
(241, 'Pool Table', 'TimRownam')
(14, 'Tennis Court 1', 'TimothyBaker')
(7, 'Tennis Court 2', 'TimothyBaker')
(7, 'Badminton Court', 'TimothyBaker')
(24, 'Table Tennis', 'TimothyBaker')
(24, 'Massage Room 1', 'TimothyBaker')
(5, 'Squash Court', 'TimothyBaker')
(85, 'Pool Table', 'TimothyBaker')
(30, 'Tennis Court 1', 'TracySmith')
(2, 'Tennis Court 2', 'TracySmith')
(32, 'Badminton Court', 'TracySmith')
(28, 'Table Tennis', 'TracySmith')
(6, 'Massage Room 1', 'TracySmith')
(6, 'Squash Court', 'TracySmith')
(45, 'Snooker Table', 'TracySmith')
(61, 'Pool Table', 'TracySmith')
Answer to Q13
('07', 51, 'Badminton Court')
('07', 77, 'Massage Room 1')
('07', 4, 'Massage Room 2')
('07', 103, 'Pool Table')
('07', 68, 'Snooker Table')
('07', 23, 'Squash Court')
('07', 48, 'Table Tennis')
('07', 65, 'Tennis Court 1')
('07', 41, 'Tennis Court 2')
('08', 132, 'Badminton Court')
('08', 153, 'Massage Room 1')
('08', 9, 'Massage Room 2')
('08', 272, 'Pool Table')
('08', 154, 'Snooker Table')
('08', 85, 'Squash Court')
('08', 143, 'Table Tennis')
('08', 111, 'Tennis Court 1')
('08', 109, 'Tennis Court 2')
('09', 161, 'Badminton Court')
('09', 191, 'Massage Room 1')
('09', 14, 'Massage Room 2')
('09', 408, 'Pool Table')
('09', 199, 'Snooker Table')
('09', 87, 'Squash Court')
('09', 194, 'Table Tennis')
('09', 132, 'Tennis Court 1')
('09', 126, 'Tennis Court 2')